<div class="container" id="bankCont">
  <div class="row">
    <% memes.forEach(meme => { %>

    <div class="col-3">
      <div class="card shadow p-3 mb-5 bg-body rounded">

        <a data-bs-toggle="modal" data-bs-target="#meme<%= meme.id %>">
          <img src="<%= meme.img_url %>" class="memeImg card-img-top rounded" >
        </a>

        <div class="card-body">



          <div class="row justify-content-center gx-4" id="cardButtons">

            <% if (meme.private === true && meme.copied === false) { %>

              <div class="col-5">
            <form action="/bank/public" method="POST" id="makePublic">
              <input type="text" id="publicId" name="publicId" class="form-control" value="<%= meme.id %>" hidden/>
              <button type="submit" class="btn btn-primary btn-sm text-nowrap">
                Make Public
              </button>
            </form>
          </div>

            <% } else if (meme.private === false && meme.copied === false){%>

              <div class="col-5">
            <form action="/bank/private" method="POST" id="makePrivate">
              <input type="text" id="privateId" name="privateId" class="form-control" value="<%= meme.id %>" hidden/>
              <button type="submit" class="btn btn-primary btn-sm text-nowrap">
                Make Private
              </button>
            </form>
          </div>
            <% } %>

              <div class="col-4">
            <form action="/bank" method="POST" id="delete">
              <input type="text" id="memeId" name="memeId" class="form-control" value="<%= meme.id %>" hidden/>

              <button type="submit" class="btn btn-primary btn-sm">
                Delete
              </button>


      <div class="modal fade" id="meme<%= meme.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div id="modalBody" class="modal-body">
              <img src="<%= meme.img_url %>" class="modalimg rounded >
            </div>
          </div>
        </div>
      </div>

            </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
