<h1>Welcome to Meme Bank</h1>
<h2>Recently Created</h2>

<div class="container">
    <div class="row">
  <% memes.forEach(meme => { %>
    <div class="col-3">
  <div class="card shadow p-3 mb-5 bg-body rounded">

    


    <a data-bs-toggle="modal" data-bs-target="#meme<%= meme.id %>">
      <img src="<%= meme.img_url %>" class="memeImg card-img-top rounded" >
    </a>




    <div class="card-body">
      <h6>Created by: <%= meme.user.user_name%></h6>

      <form action="/" method="POST">
        <input type="text" id="memeUrl" name="memeUrl" class="form-control" value="<%= meme.img_url %>" hidden>
      <button type="submit" class="fas fa-plus-square fa-2x btn" id="add"></button>

        <br>
     

      <div class="modal fade" id="meme<%= meme.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Created by: <%= meme.user.user_name%></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="modal-body">
              <img src="<%= meme.img_url %>" class="modalimg rounded" >
            </div>
          </div>
        </div>
      </div>



    </form>

    </div>
  </div>
</div>
  <% }) %>
</div>
</div>
